<?xml version="1.0"?>
<!--
/**
 * Magenizr Debugger
 *
 * @category    Magenizr
 * @package     Magenizr_Debugger
 * @copyright   Copyright (c) 2018 Magenizr (http://www.magenizr.com)
 * @license     https://www.magenizr.com/license/ Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <magenizr_debugger>
                <enabled>1</enabled>
                <download_logs_allow>1</download_logs_allow>
                <download_report_allow>1</download_report_allow>
                <report_display_latest>1</report_display_latest>

                <php_display_version>1</php_display_version>
                <php_display_detail_full>1</php_display_detail_full>
            </magenizr_debugger>
        </dev>
    </default>
</config>
