<?xml version="1.0"?>
<!--
/**
 * Magenizr Debugger
 *
 * @copyright   Copyright (c) 2018 - 2022 Magenizr (https://www.magenizr.com)
 * @license     https://www.magenizr.com/license Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenizr_Debugger::debugger_dashboard" title="Debugger" module="Magenizr_Debugger" action="magenizr_debugger/view/dashboard" sortOrder="1000" parent="Magento_Backend::system_tools" resource="Magenizr_Debugger::debugger_dashboard" />
    </menu>
</config>